@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Give+You+Glory&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&family=Luckiest+Guy&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Notable&family=Rozha+One&display=swap");

.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rozha-one-regular {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rock-salt-regular {
  font-family: "Rock Salt", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100lvh; /* Ensure the body takes at least 100% of the viewport height */
  margin: 0;
}

.main-content {
  flex: 1; /* Take all the remaining space */
  padding: 20px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header {
  display: flex;
  justify-content: center;
}

.photo {
  width: 100%;
  height: auto;
}

/* article page */

.article {
  margin: auto;
  max-width: 900px;
}

.subhed {
  font-style: italic;
}

.headline {
  font-size: 3rem;
  margin-bottom: 0rem;
  line-height: 6rem;
  @media screen and (max-width: 600px) {
    line-height: 4rem;
    margin-bottom: 2rem;
    padding: 5px;
  }
}

.paragraph {
  font-size: 1.2rem;
}

.hero-image-container {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.hero-image {
  max-width: 900px;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.image-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
  }
}

.inline-image {
  max-width: 350px;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

p {
  margin: 0;
}

/* footer */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #f8f9fa; /* Optional background */
  font-size: 0.8rem;
  font-weight: 400;
}
